table {
    border: 2px solid black;
    border-style: double;
}

th {
    border: 2px rgb(233, 36, 15);
    border-style: groove;
}

td {
    border: 2px solid rgb(238, 19, 194);
    border-radius: 2px;
    border-style: inset;
}

caption {
    font-size: larger;
    font-family: cursive;
    color: brown;
}

canvas {
    border: 1px solid black;
}

h1 {
    color: rgb(53, 25, 179)
}

h2 {
    color: rgb(226, 28, 154)
}

h3 {
    color: rgb(210, 30, 126)
}

h4 {
    color: rgb(255, 36, 36)
}
